p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.7em;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", serif;*/
  font: norma 0.75em/1.5em Georgia, "Times New Roman", serif;
  color: rgba(7, 7, 7)
  text-align: right;
}
